In [1]:
#Dependencies 
import pandas as pd

In [2]:
#Load the CSV file
load_file = "Resources/v2_MERGED2016_17_PP.csv"

In [3]:
#Create DataFrame from CSV file
college_df = pd.read_csv(load_file)

In [4]:
#List all the columns 
college_df.columns

Index(['UNITID', 'Institution_Name', 'Degree_Granted',
       'Public_Privatenp_Privatefp', 'Region', 'Carnegie_Classification',
       'Men_Only', 'Women_Only', 'Sat_Mp_Critical_Reading', 'Sat_Mp_Math',
       'Sat_Mp_Writing', 'Communication_Journalism',
       'Computer_And_Information_Sciences', 'Engineering', 'Liberal_Arts',
       'Math_And_Statistics', 'Social_Sciences', 'Business',
       'Enrollment_Of_Undergrads_And_Certificate_Students',
       'Average_Cost_Of_Attendance_By_Academic_Year', 'Instate_Tuition_&_Fees',
       'Out_Of_State_Tuition_&_Fees', '%_Of_All_Undergrads_Receving_Fafsa',
       'Female_7_Year_Repayment_Rate', 'Male_7_Year_Repayment_Rate',
       '1St_Gen_7_Year_Repayment_Rate', 'Non_1St_Gen_7_Year_Repayment_Rate',
       'Percentage_Of_1St_Gen_Students', 'Median_Debt_For_Female_Students',
       'Median_Debt_For_Male_Students', 'Median_Debt_For_1St_Gen_Students',
       'Median_Debt_For_Non_1St_Gen_Students'],
      dtype='object')

In [5]:
#Print the original DataFrame
college_df.head()

,UNITID,Institution_Name,Degree_Granted,Public_Privatenp_Privatefp,Region,Carnegie_Classification,Men_Only,Women_Only,Sat_Mp_Critical_Reading,Sat_Mp_Math,...,%_Of_All_Undergrads_Receving_Fafsa,Female_7_Year_Repayment_Rate,Male_7_Year_Repayment_Rate,1St_Gen_7_Year_Repayment_Rate,Non_1St_Gen_7_Year_Repayment_Rate,Percentage_Of_1St_Gen_Students,Median_Debt_For_Female_Students,Median_Debt_For_Male_Students,Median_Debt_For_1St_Gen_Students,Median_Debt_For_Non_1St_Gen_Students
0,100654,Alabama A & M University,3,1,5,18.0,0.0,0.0,425.0,420.0,...,0.7667,0.406060606,0.360894942,0.397887324,0.376408715,0.365828092,14250,12072,12250,14000
1,100663,University of Alabama at Birmingham,3,1,5,15.0,0.0,0.0,560.0,575.0,...,0.5179,0.632850242,0.647241647,0.63523744,0.639344262,0.341223671,15000,14250,14250,15000
2,100690,Amridge University,3,2,5,20.0,0.0,0.0,NaN,NaN,...,0.8436,0.383116883,0.495934959,0.446666667,0.417322835,0.5125,12500,9500,9500,10750
3,100706,University of Alabama in Huntsville,3,1,5,16.0,0.0,0.0,590.0,610.0,...,0.4312,0.623612513,0.675707547,0.650246305,0.646341463,0.310132159,14250,12733.5,13620.5,13502
4,100724,Alabama State University,3,1,5,19.0,0.0,0.0,415.0,410.0,...,0.8113,0.341089671,0.298909091,0.326937269,0.319304153,0.343434343,17500,13754.5,16761,15250

In [6]:
#Create new DataFrame with debt and repayment information.
debt_repymt_df = college_df[['UNITID', 'Institution_Name', 'Degree_Granted', 'Female_7_Year_Repayment_Rate', 'Male_7_Year_Repayment_Rate', '1St_Gen_7_Year_Repayment_Rate', 'Non_1St_Gen_7_Year_Repayment_Rate', 
                             'Median_Debt_For_Female_Students', 'Median_Debt_For_Male_Students', 'Median_Debt_For_1St_Gen_Students', 'Median_Debt_For_Non_1St_Gen_Students']]
debt_repymt_df.head()

,UNITID,Institution_Name,Degree_Granted,Female_7_Year_Repayment_Rate,Male_7_Year_Repayment_Rate,1St_Gen_7_Year_Repayment_Rate,Non_1St_Gen_7_Year_Repayment_Rate,Median_Debt_For_Female_Students,Median_Debt_For_Male_Students,Median_Debt_For_1St_Gen_Students,Median_Debt_For_Non_1St_Gen_Students
0,100654,Alabama A & M University,3,0.406060606,0.360894942,0.397887324,0.376408715,14250,12072,12250,14000
1,100663,University of Alabama at Birmingham,3,0.632850242,0.647241647,0.63523744,0.639344262,15000,14250,14250,15000
2,100690,Amridge University,3,0.383116883,0.495934959,0.446666667,0.417322835,12500,9500,9500,10750
3,100706,University of Alabama in Huntsville,3,0.623612513,0.675707547,0.650246305,0.646341463,14250,12733.5,13620.5,13502
4,100724,Alabama State University,3,0.341089671,0.298909091,0.326937269,0.319304153,17500,13754.5,16761,15250

In [7]:
#Revise wording of values
debt_repymt_df.loc[debt_repymt_df.Degree_Granted == 0, 'Predom_DegreeGranting'] = 'Not Classified'  
debt_repymt_df.loc[debt_repymt_df.Degree_Granted == 1, 'Predom_DegreeGranting'] = 'Predominantly Cert-Degree Granting'  
debt_repymt_df.loc[debt_repymt_df.Degree_Granted == 2, 'Predom_DegreeGranting'] = 'Predominantly Assoc-Degree Granting' 
debt_repymt_df.loc[debt_repymt_df.Degree_Granted == 3, 'Predom_DegreeGranting'] = 'Predominantly BS-Degree Granting' 
debt_repymt_df.loc[debt_repymt_df.Degree_Granted == 4, 'Predom_DegreeGranting'] = 'Entirely Grad-Degree Granting' 
debt_repymt_df.head()

C:\Users\avargastonsi\AppData\Local\Continuum\anaconda3\envs\UNCData\lib\site-packages\pandas\core\indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\avargastonsi\AppData\Local\Continuum\anaconda3\envs\UNCData\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

,UNITID,Institution_Name,Degree_Granted,Female_7_Year_Repayment_Rate,Male_7_Year_Repayment_Rate,1St_Gen_7_Year_Repayment_Rate,Non_1St_Gen_7_Year_Repayment_Rate,Median_Debt_For_Female_Students,Median_Debt_For_Male_Students,Median_Debt_For_1St_Gen_Students,Median_Debt_For_Non_1St_Gen_Students,Predom_DegreeGranting
0,100654,Alabama A & M University,3,0.406060606,0.360894942,0.397887324,0.376408715,14250,12072,12250,14000,Predominantly BS-Degree Granting
1,100663,University of Alabama at Birmingham,3,0.632850242,0.647241647,0.63523744,0.639344262,15000,14250,14250,15000,Predominantly BS-Degree Granting
2,100690,Amridge University,3,0.383116883,0.495934959,0.446666667,0.417322835,12500,9500,9500,10750,Predominantly BS-Degree Granting
3,100706,University of Alabama in Huntsville,3,0.623612513,0.675707547,0.650246305,0.646341463,14250,12733.5,13620.5,13502,Predominantly BS-Degree Granting
4,100724,Alabama State University,3,0.341089671,0.298909091,0.326937269,0.319304153,17500,13754.5,16761,15250,Predominantly BS-Degree Granting

In [8]:
#Remove Degree_Granted column
del debt_repymt_df['Degree_Granted']
debt_repymt_df.head()

,UNITID,Institution_Name,Female_7_Year_Repayment_Rate,Male_7_Year_Repayment_Rate,1St_Gen_7_Year_Repayment_Rate,Non_1St_Gen_7_Year_Repayment_Rate,Median_Debt_For_Female_Students,Median_Debt_For_Male_Students,Median_Debt_For_1St_Gen_Students,Median_Debt_For_Non_1St_Gen_Students,Predom_DegreeGranting
0,100654,Alabama A & M University,0.406060606,0.360894942,0.397887324,0.376408715,14250,12072,12250,14000,Predominantly BS-Degree Granting
1,100663,University of Alabama at Birmingham,0.632850242,0.647241647,0.63523744,0.639344262,15000,14250,14250,15000,Predominantly BS-Degree Granting
2,100690,Amridge University,0.383116883,0.495934959,0.446666667,0.417322835,12500,9500,9500,10750,Predominantly BS-Degree Granting
3,100706,University of Alabama in Huntsville,0.623612513,0.675707547,0.650246305,0.646341463,14250,12733.5,13620.5,13502,Predominantly BS-Degree Granting
4,100724,Alabama State University,0.341089671,0.298909091,0.326937269,0.319304153,17500,13754.5,16761,15250,Predominantly BS-Degree Granting

In [9]:
#Reorganize columns
debt_repymt2_df = debt_repymt_df[['UNITID', 'Institution_Name', 'Predom_DegreeGranting', 'Median_Debt_For_Female_Students', 'Median_Debt_For_Male_Students', 'Median_Debt_For_1St_Gen_Students', 
                                 'Median_Debt_For_Non_1St_Gen_Students', 'Female_7_Year_Repayment_Rate', 'Male_7_Year_Repayment_Rate', '1St_Gen_7_Year_Repayment_Rate', 'Non_1St_Gen_7_Year_Repayment_Rate']]
debt_repymt2_df.head()

,UNITID,Institution_Name,Predom_DegreeGranting,Median_Debt_For_Female_Students,Median_Debt_For_Male_Students,Median_Debt_For_1St_Gen_Students,Median_Debt_For_Non_1St_Gen_Students,Female_7_Year_Repayment_Rate,Male_7_Year_Repayment_Rate,1St_Gen_7_Year_Repayment_Rate,Non_1St_Gen_7_Year_Repayment_Rate
0,100654,Alabama A & M University,Predominantly BS-Degree Granting,14250,12072,12250,14000,0.406060606,0.360894942,0.397887324,0.376408715
1,100663,University of Alabama at Birmingham,Predominantly BS-Degree Granting,15000,14250,14250,15000,0.632850242,0.647241647,0.63523744,0.639344262
2,100690,Amridge University,Predominantly BS-Degree Granting,12500,9500,9500,10750,0.383116883,0.495934959,0.446666667,0.417322835
3,100706,University of Alabama in Huntsville,Predominantly BS-Degree Granting,14250,12733.5,13620.5,13502,0.623612513,0.675707547,0.650246305,0.646341463
4,100724,Alabama State University,Predominantly BS-Degree Granting,17500,13754.5,16761,15250,0.341089671,0.298909091,0.326937269,0.319304153

In [10]:
#Rename columns
renamed_debtRepymt_df = debt_repymt2_df.rename(columns={'Median_Debt_For_Female_Students': 'Med Student Debt (Female)', 'Median_Debt_For_Male_Students': 'Med Student Debt (Male)',
                                                       'Median_Debt_For_1St_Gen_Students': 'Med Student Debt (First Gen)', 'Median_Debt_For_Non_1St_Gen_Students': 'Med Student Debt (Non-First Gen)', 'Female_7_Year_Repayment_Rate': '7yr Repymt Rate (Female)', 
                                                        'Male_7_Year_Repayment_Rate': '7yr Repymt Rate (Male)', '1St_Gen_7_Year_Repayment_Rate': '7yr Repymt Rate (First Gen)', 'Non_1St_Gen_7_Year_Repayment_Rate': '7yr Repymt Rate (Non-Firs Gen)'})
renamed_debtRepymt_df.head()

,UNITID,Institution_Name,Predom_DegreeGranting,Med Student Debt (Female),Med Student Debt (Male),Med Student Debt (First Gen),Med Student Debt (Non-First Gen),7yr Repymt Rate (Female),7yr Repymt Rate (Male),7yr Repymt Rate (First Gen),7yr Repymt Rate (Non-Firs Gen)
0,100654,Alabama A & M University,Predominantly BS-Degree Granting,14250,12072,12250,14000,0.406060606,0.360894942,0.397887324,0.376408715
1,100663,University of Alabama at Birmingham,Predominantly BS-Degree Granting,15000,14250,14250,15000,0.632850242,0.647241647,0.63523744,0.639344262
2,100690,Amridge University,Predominantly BS-Degree Granting,12500,9500,9500,10750,0.383116883,0.495934959,0.446666667,0.417322835
3,100706,University of Alabama in Huntsville,Predominantly BS-Degree Granting,14250,12733.5,13620.5,13502,0.623612513,0.675707547,0.650246305,0.646341463
4,100724,Alabama State University,Predominantly BS-Degree Granting,17500,13754.5,16761,15250,0.341089671,0.298909091,0.326937269,0.319304153

In [12]:
#Create new DataFrame with degree and major information.
degMaj_df = college_df[['UNITID', 'Institution_Name', 'Degree_Granted', 'Communication_Journalism', 'Computer_And_Information_Sciences', 'Engineering', 'Liberal_Arts', 'Math_And_Statistics',
                            'Social_Sciences', 'Business']]
degMaj_df.head()

,UNITID,Institution_Name,Degree_Granted,Communication_Journalism,Computer_And_Information_Sciences,Engineering,Liberal_Arts,Math_And_Statistics,Social_Sciences,Business
0,100654,Alabama A & M University,3,0.0000,0.0401,0.0896,0.0660,0.0024,0.0448,0.1863
1,100663,University of Alabama at Birmingham,3,0.0360,0.0131,0.0599,0.0135,0.0090,0.0365,0.2072
2,100690,Amridge University,3,0.0000,0.0000,0.0000,0.0889,0.0000,0.0000,0.3556
3,100706,University of Alabama in Huntsville,3,0.0301,0.0499,0.2702,0.0000,0.0132,0.0188,0.2250
4,100724,Alabama State University,3,0.1023,0.0503,0.0000,0.0000,0.0146,0.0130,0.0974

In [13]:
#Revise wording of values
degMaj_df.loc[degMaj_df.Degree_Granted == 0, 'Predom_DegreeGranting'] = 'Not Classified'  
degMaj_df.loc[degMaj_df.Degree_Granted == 1, 'Predom_DegreeGranting'] = 'Predominantly Cert-Degree Granting'  
degMaj_df.loc[degMaj_df.Degree_Granted == 2, 'Predom_DegreeGranting'] = 'Predominantly Assoc-Degree Granting' 
degMaj_df.loc[degMaj_df.Degree_Granted == 3, 'Predom_DegreeGranting'] = 'Predominantly BS-Degree Granting' 
degMaj_df.loc[degMaj_df.Degree_Granted == 4, 'Predom_DegreeGranting'] = 'Entirely Grad-Degree Granting' 
degMaj_df.head()

,UNITID,Institution_Name,Degree_Granted,Communication_Journalism,Computer_And_Information_Sciences,Engineering,Liberal_Arts,Math_And_Statistics,Social_Sciences,Business,Predom_DegreeGranting
0,100654,Alabama A & M University,3,0.0000,0.0401,0.0896,0.0660,0.0024,0.0448,0.1863,Predominantly BS-Degree Granting
1,100663,University of Alabama at Birmingham,3,0.0360,0.0131,0.0599,0.0135,0.0090,0.0365,0.2072,Predominantly BS-Degree Granting
2,100690,Amridge University,3,0.0000,0.0000,0.0000,0.0889,0.0000,0.0000,0.3556,Predominantly BS-Degree Granting
3,100706,University of Alabama in Huntsville,3,0.0301,0.0499,0.2702,0.0000,0.0132,0.0188,0.2250,Predominantly BS-Degree Granting
4,100724,Alabama State University,3,0.1023,0.0503,0.0000,0.0000,0.0146,0.0130,0.0974,Predominantly BS-Degree Granting

In [14]:
#Remove Degree_Granted column
del degMaj_df['Degree_Granted']
degMaj_df.head()

,UNITID,Institution_Name,Communication_Journalism,Computer_And_Information_Sciences,Engineering,Liberal_Arts,Math_And_Statistics,Social_Sciences,Business,Predom_DegreeGranting
0,100654,Alabama A & M University,0.0000,0.0401,0.0896,0.0660,0.0024,0.0448,0.1863,Predominantly BS-Degree Granting
1,100663,University of Alabama at Birmingham,0.0360,0.0131,0.0599,0.0135,0.0090,0.0365,0.2072,Predominantly BS-Degree Granting
2,100690,Amridge University,0.0000,0.0000,0.0000,0.0889,0.0000,0.0000,0.3556,Predominantly BS-Degree Granting
3,100706,University of Alabama in Huntsville,0.0301,0.0499,0.2702,0.0000,0.0132,0.0188,0.2250,Predominantly BS-Degree Granting
4,100724,Alabama State University,0.1023,0.0503,0.0000,0.0000,0.0146,0.0130,0.0974,Predominantly BS-Degree Granting

In [16]:
#Reorganize columns
degMaj2_df = degMaj_df[['UNITID', 'Institution_Name', 'Predom_DegreeGranting', 'Communication_Journalism', 'Computer_And_Information_Sciences', 'Engineering', 'Liberal_Arts', 
                                 'Math_And_Statistics', 'Social_Sciences', 'Business']]
degMaj2_df.head()

,UNITID,Institution_Name,Predom_DegreeGranting,Communication_Journalism,Computer_And_Information_Sciences,Engineering,Liberal_Arts,Math_And_Statistics,Social_Sciences,Business
0,100654,Alabama A & M University,Predominantly BS-Degree Granting,0.0000,0.0401,0.0896,0.0660,0.0024,0.0448,0.1863
1,100663,University of Alabama at Birmingham,Predominantly BS-Degree Granting,0.0360,0.0131,0.0599,0.0135,0.0090,0.0365,0.2072
2,100690,Amridge University,Predominantly BS-Degree Granting,0.0000,0.0000,0.0000,0.0889,0.0000,0.0000,0.3556
3,100706,University of Alabama in Huntsville,Predominantly BS-Degree Granting,0.0301,0.0499,0.2702,0.0000,0.0132,0.0188,0.2250
4,100724,Alabama State University,Predominantly BS-Degree Granting,0.1023,0.0503,0.0000,0.0000,0.0146,0.0130,0.0974

In [17]:
#Rename columns
renamed_degMajor_df = degMaj2_df.rename(columns={'Communication_Journalism':'% Degree Granted (Comm & Journalism)', 'Computer_And_Information_Sciences':'% Degree Granted (Comp & Info Sci)',
                                                       'Engineering': '% Degree Granted (Engineering)', 'Liberal_Arts': '% Degree Granted (Lib Arts)', 'Math_And_Statistics': '% Degree Granted (Math & Stats)', 
                                                        'Social_Sciences': '% Degree Granted (Soc Sci)', 'Business': '% Degree Granted (Bus)'})
renamed_degMajor_df.head()

,UNITID,Institution_Name,Predom_DegreeGranting,% Degree Granted (Comm & Journalism),% Degree Granted (Comp & Info Sci),% Degree Granted (Engineering),% Degree Granted (Lib Arts),% Degree Granted (Math & Stats),% Degree Granted (Soc Sci),% Degree Granted (Bus)
0,100654,Alabama A & M University,Predominantly BS-Degree Granting,0.0000,0.0401,0.0896,0.0660,0.0024,0.0448,0.1863
1,100663,University of Alabama at Birmingham,Predominantly BS-Degree Granting,0.0360,0.0131,0.0599,0.0135,0.0090,0.0365,0.2072
2,100690,Amridge University,Predominantly BS-Degree Granting,0.0000,0.0000,0.0000,0.0889,0.0000,0.0000,0.3556
3,100706,University of Alabama in Huntsville,Predominantly BS-Degree Granting,0.0301,0.0499,0.2702,0.0000,0.0132,0.0188,0.2250
4,100724,Alabama State University,Predominantly BS-Degree Granting,0.1023,0.0503,0.0000,0.0000,0.0146,0.0130,0.0974

In [18]:
# Export file as a CSV, without the Pandas index, but with the header
renamed_debtRepymt_df.to_csv("Output/debtRepymt.csv", index=False, header=True)

In [19]:
# Export file as a CSV, without the Pandas index, but with the header
renamed_degMajor_df.to_csv("Output/degreeMajor.csv", index=False, header=True)