In [1]:
import pandas as pd

In [3]:
race_data = pd.read_csv("Resources/MERGED2016_17_PP.csv")
race_data.head()

C:\Users\emrus\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (6,9,1379,1380,1381,1382,1383,1384,1385,1386,1387,1388,1389,1390,1391,1392,1393,1394,1395,1396,1397,1398,1399,1400,1401,1402,1403,1404,1405,1406,1407,1408,1431,1432,1503,1504,1517,1518,1519,1529,1530,1531,1532,1534,1535,1537,1538,1539,1540,1542,1575,1576,1577,1578,1579,1580,1581,1582,1583,1584,1585,1586,1587,1588,1589,1590,1591,1592,1593,1594,1595,1596,1597,1598,1599,1600,1601,1602,1606,1610,1611,1614,1615,1616,1708,1725,1726,1727,1728,1729,1743,1815,1816,1817,1818,1823,1824,1830,1831,1879,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMAWDP6_FTNFT_POOLED_SUPP,OMAWDP8_FTNFT_POOLED_SUPP,OMENRYP8_FTNFT_POOLED_SUPP,OMENRAP8_FTNFT_POOLED_SUPP,OMENRUP8_FTNFT_POOLED_SUPP,OMAWDP6_PTNFT_POOLED_SUPP,OMAWDP8_PTNFT_POOLED_SUPP,OMENRYP8_PTNFT_POOLED_SUPP,OMENRAP8_PTNFT_POOLED_SUPP,OMENRUP8_PTNFT_POOLED_SUPP
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,www.aamu.edu/,www2.aamu.edu/scripts/netpricecalc/npcalc.htm,...,0.4694,0.5136,0.0034,0.1429,0.3401,0.3333,0.3333,0,0,0.6667
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,www.uab.edu,uab.studentaidcalculator.com/survey.aspx,...,0.6117,0.624,0.0075,0.2166,0.1519,0.3642,0.4,0.0434,0.2755,0.2811
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,Southern Association of Colleges and Schools C...,www.amridgeuniversity.edu,www2.amridgeuniversity.edu:9091/,...,0.5503,0.5562,0.0059,0.4379,0,0.4429,0.4714,0.0429,0.4857,0
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,www.uah.edu,finaid.uah.edu/,...,0.5456,0.5651,0.0123,0.2841,0.1385,0.3378,0.3547,0.0236,0.4257,0.1959
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,www.alasu.edu,www.alasu.edu/cost-aid/forms/calculator/index....,...,0.4105,0.429,0.0062,0.216,0.3488,0.2931,0.3103,0.0345,0.3966,0.2586

In [18]:
#  
flag_df = race_data[['UNITID','INSTNM','HBCU', 'PBI', 'ANNHI','TRIBAL','AANAPII','HSI', 'NANTI']]
new_flag_df = flag_df.rename(index=str, columns={"PBI":"Pred_Black_Inst", 
                                                 "ANNHI": "Alaska/Hawaiian", 
                                                 "TRIBAL":"Tribal",
                                                 "AANAPII":"Asian/Native/Pacific_Islander", 
                                                 "HSI":"Hispanic_Serving", 
                                                 "NANTI":"Native_American_Non_Tribal"})

# Undergraduate degree-seeking 
ugds_df = race_data[['UNITID','INSTNM','UGDS_WHITE', 'UGDS_BLACK', 'UGDS_HISP', 'UGDS_ASIAN', 'UGDS_AIAN', 'UGDS_NHPI', 'UGDS_2MOR', 'UGDS_NRA','UGDS_UNKN','UGDS_WHITENH', 'UGDS_BLACKNH', 'UGDS_API']]
new_ugds_df = ugds_df.rename(index=str, columns={'UGDS_WHITE':'White', 
                                                 'UGDS_BLACK':'Black', 
                                                 'UGDS_HISP':'Hispanic', 
                                                 'UGDS_ASIAN':'Asian', 
                                                 'UGDS_AIAN':'American_Indian/Alaska_Native', 
                                                 'UGDS_NHPI':'Native_Hawaiian/Pacific_Islander', 
                                                 'UGDS_2MOR':'Two_or_More_Races', 
                                                 'UGDS_NRA': 'Non_Resident_Aliens',
                                                 'UGDS_UNKN': 'Unknown',
                                                 'UGDS_WHITENH': 'White_Non_Hispanic', 
                                                 'UGDS_BLACKNH': 'Black_Non_Hispanic', 
                                                 'UGDS_API':'Asian/Pacific_Islander'})

# Completion rate for first-time, full-time students at four-year institutions (150% of expected time to completion)
completion_df = race_data[['UNITID','INSTNM', 'C150_4_WHITE', 'C150_4_BLACK', 'C150_4_HISP', 'C150_4_ASIAN', 'C150_4_AIAN', 'C150_4_NHPI', 'C150_4_2MOR', 'C150_4_NRA','C150_4_UNKN','C150_4_WHITENH', 'C150_4_BLACKNH', 'C150_4_API']]
new_completion_df = completion_df.rename(columns={'C150_4_WHITE':'White', 
                                                  'C150_4_BLACK':'Black', 
                                                  'C150_4_HISP': 'Hispanic', 
                                                  'C150_4_ASIAN':'Asian', 
                                                  'C150_4_AIAN':'American_Indian/Alaska_Native', 
                                                  'C150_4_NHPI':'Native_Hawaiian/Pacific_Islander', 
                                                  'C150_4_2MOR':'Two_or_More_Races', 
                                                  'C150_4_NRA':'Non_Resident_Aliens',
                                                  'C150_4_UNKN':'Unknown',
                                                  'C150_4_WHITENH':'White_Non_Hispanic', 
                                                  'C150_4_BLACKNH':'Black_Non_Hispanic', 
                                                  'C150_4_API':'Asian/Pacific_Islander'}])

# Adjusted cohort count for completion rate at four-year institutions (denominator of 150% completion rate)
cohort_df = race_data[['UNITID','INSTNM', 'D150_4_WHITE', 'D150_4_BLACK', 'D150_4_HISP', 'D150_4_ASIAN', 'D150_4_AIAN', 'D150_4_NHPI', 'D150_4_2MOR', 'D150_4_NRA', 'D150_4_UNKN']]
new_cohort_df = cohort_df(columns={'D150_4_WHITE':'White', 
                                   'D150_4_BLACK':'Black', 
                                   'D150_4_HISP':'Hispanic', 
                                   'D150_4_ASIAN':'Asian', 
                                   'D150_4_AIAN':'American_Indian/Alaska_Native', 
                                   'D150_4_NHPI':'Native_Hawaiian/Pacific_Islander', 
                                   'D150_4_2MOR':'Two_or_More_Races', 
                                   'D150_4_NRA':'Non_Resident_Aliens', 
                                   'D150_4_UNKN':'Unknown'})

new_flag_df.to_csv('Output/race_flag.csv')
new_ugds_df.to_csv('Output/race_ugds.csv')
new_completion_df.to_csv('Output/race_completion.csv')
new_cohort_df.to_csv('Output/race_cohort.csv')

,UNITID,INSTNM,White,Black,Hispanic,Asian,American_Indian/Alaska_Native,Native_Hawaiian/Pacific_Islander,Two_or_More_Races,Non_Resident_Aliens,Unknown,White_Non_Hispanic,Black_Non_Hispanic,Asian/Pacific_Islander
0,100654,Alabama A & M University,0.0256,0.9129,0.0076,0.0019,0.0024,0.0017,0.0401,0.0065,0.0013,NaN,NaN,NaN
1,100663,University of Alabama at Birmingham,0.5786,0.2626,0.0309,0.0598,0.0028,0.0004,0.0387,0.0179,0.0083,NaN,NaN,NaN
2,100690,Amridge University,0.1570,0.2355,0.0068,0.0000,0.0000,0.0034,0.0000,0.0000,0.5973,NaN,NaN,NaN
3,100706,University of Alabama in Huntsville,0.7148,0.1131,0.0411,0.0414,0.0120,0.0000,0.0181,0.0303,0.0292,NaN,NaN,NaN
4,100724,Alabama State University,0.0138,0.9337,0.0111,0.0028,0.0013,0.0004,0.0111,0.0159,0.0100,NaN,NaN,NaN

In [20]:
new_ugds_df.describe()

,UNITID,White,Black,Hispanic,Asian,American_Indian/Alaska_Native,Native_Hawaiian/Pacific_Islander,Two_or_More_Races,Non_Resident_Aliens,Unknown,White_Non_Hispanic,Black_Non_Hispanic,Asian/Pacific_Islander
count,7.175000e+03,6447.000000,6447.000000,6447.000000,6447.000000,6447.000000,6447.000000,6447.000000,6447.000000,6447.000000,0.0,0.0,0.0
mean,1.823310e+06,0.500712,0.183246,0.172926,0.036867,0.013965,0.005114,0.026044,0.019495,0.039924,NaN,NaN,NaN
std,6.858175e+06,0.286228,0.219627,0.227593,0.079043,0.070842,0.035069,0.035253,0.057730,0.082146,NaN,NaN,NaN
min,1.006540e+05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
25%,1.739385e+05,0.257350,0.035500,0.031650,0.002600,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
50%,2.287230e+05,0.544800,0.098300,0.080300,0.013800,0.002400,0.000300,0.020300,0.000000,0.013900,NaN,NaN,NaN
75%,4.494765e+05,0.734700,0.245100,0.217050,0.036600,0.007100,0.002650,0.036400,0.016000,0.043500,NaN,NaN,NaN
max,4.877820e+07,1.000000,1.000000,1.000000,1.000000,1.000000,0.999000,0.819700,1.000000,1.000000,NaN,NaN,NaN

In [25]:
race_df = race_data[['UNITID','INSTNM','HBCU', 'PBI', 'ANNHI','TRIBAL','AANAPII','HSI', 'NANTI', 'UGDS_WHITE', 'UGDS_BLACK', 'UGDS_HISP', 
            'UGDS_ASIAN', 'UGDS_AIAN', 'UGDS_NHPI', 'UGDS_2MOR', 'UGDS_NRA','UGDS_UNKN','UGDS_WHITENH', 'UGDS_BLACKNH', 
            'UGDS_API', 'C150_4_WHITE', 'C150_4_BLACK', 'C150_4_HISP', 'C150_4_ASIAN', 'C150_4_AIAN', 'C150_4_NHPI', 
            'C150_4_2MOR', 'C150_4_NRA','C150_4_UNKN','C150_4_WHITENH', 'C150_4_BLACKNH', 'C150_4_API', 'D150_4_WHITE', 
            'D150_4_BLACK', 'D150_4_HISP', 'D150_4_ASIAN', 'D150_4_AIAN', 'D150_4_NHPI', 'D150_4_2MOR', 'D150_4_NRA', 
            'D150_4_UNKN']]

new_race_df = race_df.rename(columns={
                                    "HBCU":"Historic_Black_Univ",
                                    "PBI":"Pred_Black_Inst", 
                                    "ANNHI": "Alaska/Hawaiian", 
                                    "TRIBAL":"Tribal",
                                    "AANAPII":"Asian/Native/Pacific_Islander", 
                                    "HSI":"Hispanic_Serving", 
                                    "NANTI":"Native_American_Non_Tribal",
                                    'UGDS_WHITE':'White', 
                                     'UGDS_BLACK':'UGDS_Black', 
                                     'UGDS_HISP':'UGDS_Hispanic', 
                                     'UGDS_ASIAN':'UGDS_Asian', 
                                     'UGDS_AIAN':'UGDS_American_Indian/Alaska_Native', 
                                     'UGDS_NHPI':'UGDS_Native_Hawaiian/Pacific_Islander', 
                                     'UGDS_2MOR':'UGDS_Two_or_More_Races', 
                                     'UGDS_NRA': 'UGDS_Non_Resident_Aliens',
                                     'UGDS_UNKN': 'UGDS_Unknown',
                                     'UGDS_WHITENH': 'UGDS_White_Non_Hispanic', 
                                     'UGDS_BLACKNH': 'UGDS_Black_Non_Hispanic', 
                                     'UGDS_API':'UGDS_Asian/Pacific_Islander',
                                     'C150_4_WHITE':'Compl_4_White', 
                                      'C150_4_BLACK':'Compl_4_Black', 
                                      'C150_4_HISP': 'Compl_4_Hispanic', 
                                      'C150_4_ASIAN':'Compl_4_Asian', 
                                      'C150_4_AIAN':'Compl_4_American_Indian/Alaska_Native', 
                                      'C150_4_NHPI':'Compl_4_Native_Hawaiian/Pacific_Islander', 
                                      'C150_4_2MOR':'Compl_4_Two_or_More_Races', 
                                      'C150_4_NRA':'Compl_4_Non_Resident_Aliens',
                                      'C150_4_UNKN':'Compl_4_Unknown',
                                      'C150_4_WHITENH':'Compl_4_White_Non_Hispanic', 
                                      'C150_4_BLACKNH':'Compl_4_Black_Non_Hispanic', 
                                      'C150_4_API':'Compl_4_Asian/Pacific_Islander',
                                      'D150_4_WHITE':'Cohort_Compl_4_White', 
                                       'D150_4_BLACK':'Cohort_Compl_4_Black', 
                                       'D150_4_HISP':'Cohort_Compl_4_Hispanic', 
                                       'D150_4_ASIAN':'Cohort_Compl_4_Asian', 
                                       'D150_4_AIAN':'Cohort_Compl_4_American_Indian/Alaska_Native', 
                                       'D150_4_NHPI':'Cohort_Compl_4_Native_Hawaiian/Pacific_Islander', 
                                       'D150_4_2MOR':'Cohort_Compl_4_Two_or_More_Races', 
                                       'D150_4_NRA':'Cohort_Compl_4_Non_Resident_Aliens', 
                                       'D150_4_UNKN':'Cohort_Compl_4_Unknown'})

new_race_df.head()

,UNITID,INSTNM,Historic_Black_Univ,Pred_Black_Inst,Alaska/Hawaiian,Tribal,Asian/Native/Pacific_Islander,Hispanic_Serving,Native_American_Non_Tribal,White,...,Compl_4_Asian/Pacific_Islander,Cohort_Compl_4_White,Cohort_Compl_4_Black,Cohort_Compl_4_Hispanic,Cohort_Compl_4_Asian,Cohort_Compl_4_American_Indian/Alaska_Native,Cohort_Compl_4_Native_Hawaiian/Pacific_Islander,Cohort_Compl_4_Two_or_More_Races,Cohort_Compl_4_Non_Resident_Aliens,Cohort_Compl_4_Unknown
0,100654,Alabama A & M University,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0256,...,NaN,15.0,1034.0,4.0,1.0,0.0,0.0,1.0,4.0,14.0
1,100663,University of Alabama at Birmingham,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5786,...,NaN,921.0,402.0,28.0,107.0,3.0,2.0,50.0,12.0,12.0
2,100690,Amridge University,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.1570,...,NaN,2.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
3,100706,University of Alabama in Huntsville,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.7148,...,NaN,415.0,92.0,23.0,27.0,6.0,0.0,13.0,13.0,11.0
4,100724,Alabama State University,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0138,...,NaN,11.0,987.0,6.0,0.0,0.0,0.0,1.0,6.0,79.0

In [27]:
new_race_df.to_csv('race_df.csv')